@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Home Page";
}
@model SearchRequest


<div class="text-center">
    <h1 class="display-4">LMGTFY: CEO Edition</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div class="container">
        <form>
            <button class="btn-primary" 
                    asp-controller="home" asp-action="searchdefault">Check Status</button>
        </form>
        @*<p>DirectKeyword: @Model.Keywords</p>*@
        <p>Keywords:<strong data-bind="text: Keywords"></strong></p>
        <p>ExpectedUri: <strong data-bind="text: ExpectedUri"></strong> </p>


        @*<form asp-action="SearchCustom" asp-controller="Home" method="post">
            <label class="col-form-label" asp-for="Keywords"></label>
            <input asp-for="Keywords" placeholder="Search terms here" />
            <label class="col-form-label" asp-for="ExpectedUri"></label>
            <input asp-for="ExpectedUri" placeholder="URL to check" />
            <input class="btn-primary" type="submit" value="Custom Search" />
        </form>*@
    </div>
</div>

<script src="~/lib/knockout/knockout-3.5.1.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
       
    var viewModel = @Html.Raw(JsonConvert.SerializeObject(ViewData["Request"]));
    ko.applyBindings(viewModel);

</script>
